<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.5/phpunit.xsd"
         bootstrap="test/bootstrap.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">

    <php>
        <var name="TEST_DB_HELPER1_HOST" value="localhost"/>
        <var name="TEST_DB_HELPER1_USERNAME" value="testUser"/>
        <var name="TEST_DB_HELPER1_PASSWORD" value="testUserPass"/>
        <var name="TEST_DB_HELPER1_DATABASE" value="testHelper1"/>
        <var name="TEST_DB_HELPER1_PORT" value="3306"/>
        <var name="TEST_DB_HELPER1_TIMEZONE" value="UTC"/>
        <var name="TEST_DB_HELPER1_DRIVER" value="mysql"/>

        <var name="TEST_DB_HELPER2_HOST" value="localhost"/>
        <var name="TEST_DB_HELPER2_USERNAME" value="testUser"/>
        <var name="TEST_DB_HELPER2_PASSWORD" value="testUserPass"/>
        <var name="TEST_DB_HELPER2_DATABASE" value="testHelper2"/>
        <var name="TEST_DB_HELPER2_PORT" value="3306"/>
        <var name="TEST_DB_HELPER2_TIMEZONE" value="UTC"/>
        <var name="TEST_DB_HELPER2_DRIVER" value="mysql"/>

        <var name="TEST_FIXTURE_DIRECTORY" value="test/fixtures"/>
    </php>

    <testsuite name="php-test-helper">
        <directory>test</directory>
    </testsuite>

    <logging>
        <log type="coverage-html" target="coverage" lowUpperBound="65" highLowerBound="85"/>
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
