<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="test/bootstrap.php">
    <php>
        <var name="TEST_DB_HELPER1_HOST" value="127.0.0.1"/>
        <var name="TEST_DB_HELPER1_USERNAME" value="testUser"/>
        <var name="TEST_DB_HELPER1_PASSWORD" value="testUserPass"/>
        <var name="TEST_DB_HELPER1_DATABASE" value="testHelper1"/>
        <var name="TEST_DB_HELPER1_PORT" value="3306"/>
        <var name="TEST_DB_HELPER1_TIMEZONE" value="UTC"/>
        <var name="TEST_DB_HELPER1_DRIVER" value="mysql"/>

        <var name="TEST_DB_HELPER2_HOST" value="127.0.0.1"/>
        <var name="TEST_DB_HELPER2_USERNAME" value="testUser"/>
        <var name="TEST_DB_HELPER2_PASSWORD" value="testUserPass"/>
        <var name="TEST_DB_HELPER2_DATABASE" value="testHelper2"/>
        <var name="TEST_DB_HELPER2_PORT" value="3306"/>
        <var name="TEST_DB_HELPER2_TIMEZONE" value="UTC"/>
        <var name="TEST_DB_HELPER2_DRIVER" value="mysql"/>

        <var name="TEST_FIXTURE_DIRECTORY" value="test/fixtures"/>
    </php>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="test helpers tests" addUncoveredFilesFromWhitelist="true">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
